@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Color Codes */
:root {
  --trapped-darkness: #091b21;
  --freinacht-black: #233237;
  --hornblende-green: #204d48;
  --pistachio-cream: #d5e2e2;
  --duqqa-brown: #45230f;
  --deer: #b98957;
  --beef-hotpot: #a6592f;
  --xanthous: #f2b129;
  --white-smoke: #f2f2f2;
  --lead: #222222;
  --african-gray: #91999b;
}

.duqqa-brown {
  color: #45230f;
}

.hornblende-green {
  color: #204d48;
}

.pistachio-cream {
  background: #d5e2e2;
}

.white-smoke {
  color: #f2f2f2;
}

/* Color Codes End */

/* Generic Styles */
*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3125rem;
  line-height: 1.4;
  color: #333;
}

img {
  max-width: 100%;
}

.bindPopup {
  text-align: center;
}

.container {
  width: min(1200px, calc(65% + 100px));
  margin: 0 auto;
}

/* Generic Styles End */

/* Font Styles */
.quantico {
  font-family: "Quantico", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.fs-1rem {
  font-size: 1rem;
}

.fs-103 {
  font-size: 1.3rem;
}

.fs-106 {
  font-size: 1.6rem;
}

.fs-2rem {
  font-size: 2rem;
}

.fs-205 {
  font-size: 2.5rem;
  line-height: 1.2;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.txt__line-height {
  line-height: 1.75em;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

p {
  margin: 0.8em 0 0;
}

/* Font Styles End */

/* Navigation Styles */

header {
  background-color: #d5e2e2;
  color: #fff;
  text-align: center;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.nav {
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  background: #072a2d;
  color: black;
  transition: opacity 250ms ease;
  position: absolute;
  right: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: #fff;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1.25rem;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #204d48;
}

.nav__link {
  color: #fff;
  font-family: "Quantico", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 1em;
}

.nav__item:hover,
.nav__item:focus {
  background: #b98957;
  width: 100%;
}

.logo {
  padding: 1em 0;
  width: 70%;
}

@media (min-width: 800px) {
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  header {
    background: #d5e2e2;
    color: #fff;
    padding: 1em 0;
    text-align: center;
  }

  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
    background: #d5e2e2;
  }

  .nav__list {
    display: flex;
    margin: 0;
    background: #d5e2e2;
  }

  .nav__item {
    margin: 0 0 0 1.5em;
  }

  .nav__link {
    color: #45230f;
  }

  .nav__item:hover,
  .nav__item:focus {
    opacity: 0.65;
    background: #d5e2e2;
  }

  .row {
    display: flex;
  }

  .container img {
    display: flex;
  }
}

/* Navigation Styles End */

/* Hero Styles */
.hero-container {
  display: flex;
  flex-wrap: wrap;


  padding: 2em 0;
}

.mb-2em {
  margin-bottom: 2em;
}

.hero-txt {
  width: 100%;
}

.hero-img {
  width: 100%;
}

.btn {
  justify-self: center;
}

@media (min-width: 800px) {
  .hero-container { 
      justify-content: center;
      align-items: center;
    }


  .hero-txt {
    width: 50%;
  }

  .hero-img {
    width: 50%;
  }
}

/* Hero Styles End */

/* Hero Button Styles */

.btn {
  display: inline-block;
  font-family: "Quantico", sans-serif;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #45230f;
  color: #fff;
  padding: 0.75em 2em;
  border-radius: 10px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}
/* Hero Button Style End */

/* Finely Roasted Section Styles */
.roastedcoffee-background {
  background-image: url("/images/coffee-beans-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.roasted__container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
}

/* Finely Roasted Section Styles End */

/* Location Section Styles */
.location__container {
  background-color: #204d48;
  color: #fff;
  padding: 4em 0;
  margin: auto;
}

.location__container p {
  color: #fff;
}

.location__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "location"
    "phone"
    "map"
    "hours";

  gap: 2em;
}

#location {
  grid-area: location;
}

#phone {
  grid-area: phone;
}

#map {
  grid-area: map;
}

#mapLouisville {
  height: 380px;
}

#hours {
  grid-area: hours;
}

.table__hours {
  width: 15em;
}

.location__line-height {
  line-height: 0.8em;
}

@media (min-width: 800px) {
  .location__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "location phone"
      "map map"
      "hours hours";
    gap: 2em;
  }
}

@media screen and (min-width: 1200px) {
  .location__grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "location phone hours"
      "map map hours";
    gap: 2em;
  }
}

/* Location Section Styles End */

/* Menu Item Styles */

.item__container {
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
}

.coffee-grid {
  display: grid;
  grid-template-rows: repeat(14, 1fr);
  grid-auto-flow: column;
  gap: 2.5em 4em;
}

.noncoffee-grid,
.tea-grid,
.pastry-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  gap: 2.5em 4em;
}

.mb-3em {
  margin-bottom: 3em;
}

@media screen and (min-width: 880px) {
  .coffee-grid {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 2.5em 4em;
  }

  .noncoffee-grid,
  .tea-grid,
  .pastry-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 2.5em 4em;
  }
}

.tea-item,
.pastry-item,
.noncoffee-item,
.coffee-item {
  display: grid;
  grid-template-columns: 1fr auto;
}

/* Menu Item Styles End */

/* Form Styles */

.signup__container {
  background-color: #204d48;
  color: #fff;
  padding-top: 3em;
  padding-bottom: 2em;
}

.sign-up {
  width: 1000%;
  max-width: 750px;
  margin: 0 auto;
}

.signup__mobile--width {
  width: 90%;
}

.dcdform {
  max-width: 40em;
  margin: auto;
  padding: 2em 0;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "name"
    "email"
    "button";
  gap: 1em;
}

label {
  display: block;
}

input {
  margin-top: 0.3em;
  padding: 0.6em;
  border: solid 1px #bbb;
  border-radius: 5px;
  width: 100%;
  resize: none;
  color: #333;
}

.signup__button {
  border: none;
  display: inline-block;
  padding: 0.75em 2.25em;
  border: 1px solid #a6592f;
  border-radius: 10px;
  background-color: #a6592f;
  color: #ffffff;
  font-size: 0.9em;
  text-transform: uppercase;
  cursor: pointer;
}

.signup__button:hover,
.signup__button:focus {
  opacity: 0.85;
}

#first-name {
  grid-area: name;
}

#email-address {
  grid-area: email;
}

#button {
  grid-area: button;
}

@media screen and (min-width: 630px) {
  .dcdform {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name email"
      "button button";
    gap: 1em;
  }

  .signup__button {
    font-size: 1.25rem;
    align-self: center;
  }
}

/* Form Styles End */

/* Sitemap Styles */

.sitemap__container {
  background: #233237;
  color: #fff;
  padding: 4em 0;
  font-size: 1rem;
}

.sitemap__container p {
  color: #fff;
}

.sitemap__grid {
  --w: 200px;
  --n: 3;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  gap: 2.5em 4em;
}

.sitemap__line-height {
  line-height: 0.9rem;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #91999b;
  color: #233237;
  margin-top: 1em;
  margin-right: 0.9em;
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Sitemap Styles */

/* Footer Styles */

.footer__container {
  background: #091b21;
  text-transform: uppercase;
}

.container__footer {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.8em 0;
}

.copyright-txt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .copyright-txt {
    justify-content: space-between;
  }
}

/* Footer Styles End */
